<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa</title>

    <!-- WebSocket -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/map.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  </head>
  <body>
    <!-- Nav -->
    {% include "navbar.html" %}

    <main>
      <h2>Ubicación de Camiones</h2>

      <!-- Map Container -->
      <div id="map" style="width:100%; height: 600px;"></div>
    </main>

    <!-- Purchases Table -->
    <h2>Órdenes de los Camiones</h2>
    {% if purchases %}
      <table>
        <tr>
          <th>Camión</th>
          <th>ID de Orden</th>
          <th>Estatus</th>
        </tr>
        {% for purchase in purchases %}
          <tr>
            <td>{{ purchase[0] }}</td>
            <td>Orden con ID #{{ purchase[1] }}</td>
            <td>{{ purchase[2] }}</td>
          </tr>
        {% endfor%}
      </table>
    {% else %}
      <p style="text-align: center;">No hay órdenes</p>
    {% endif %}

    <!-- Data -->
    <div id="dataset" data-locations='{{ locations|tojson }}'></div>

    <!-- Map -->
    <script src="../static/js/map.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ maps_api_key }}&callback=initMap"></script>
  </body>
</html>
