<!DOCTYPE html>
<html lang="en">
  <head></head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joyería Fina</title>
    <link rel="stylesheet" href="../static/css/crud.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  </head>
  <body>
    <!-- Nav -->
    {% include "navbar.html" %}

    <h1>Rutas</h1>
    {% if data %}
      <table>
        <tr class="ruta_head">
          <th class="header">ID</th>
          <th class="header">Nombre</th>
          <th class="header">Distancia total</th>
          <th class="header">Estado</th>
          <th class="header">Velocidad promedio</th>
          <th class="header">Tiempo</th>
          <th class="header">Camión</th>
          <th class="header"></th>
          <th class="header"></th>
        </tr>
        {% for route in routes %}
          <tr class="ruta">
            <th class="dato">#{{ route["id"] }}</th>
            <th class="dato">{{ route["name"] }}</th>
            <th class="dato">{{ route["distance"] }} km</th>
            {% if route["active"] %}
              <th class="dato">Activo</th>
            {% else %}
              <th class="dato">Terminado</th>
            {% endif %}
            <th class="dato">{{ route["average_speed"] }} km/h</th>
            <th class="dato">{{ route["time"] }} min(s)</th>
            <th class="dato">{{ route["truck_name"] }}</th>
            <th class="dato"><a class="boton editar" href="/admin/route-edit/{{ route['id'] }}">Editar</a><a class="boton eliminar" href="/admin/route-delete/{{ route['id'] }}">Eliminar</a></th>
            <th class="dato"><a class="boton xml" href="/admin/routes/xml/{{ route['id'] }}">XML</a><a class="boton json" href="/admin/routes/json/{{ route['id'] }}">JSON</a></th>
          </tr>
        {% endfor %}
      </table>
      <a class="boton agregar" href="/admin/route-add-form">Agregar</a>
    {% else %}
      <h2>Ocurrió un error. Si al recargar la página sigue este mensaje, no hay rutas existentes</h2>
    {% endif %}

    <!-- Notifications -->
    {% if message %}
      <div class="notifications">
        <h2>{{ message }}</h2>
      </div>
    {% endif %}
  </body>
</html>
