<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joyería Fina</title>
    <link rel="stylesheet" type="text/css" href="../static/css/sign.css">
  </head>
  <body>
    <h1> Joyería Fina </h1>
    <form action="/login" method="POST">
      <label for="username">Usuario: </label>
      <input type="text" id="username" name="username" required>
      <br><br>
      <label for="password">Contraseña: </label>
      <input type="password" id="password" name="password" required>
      <br><br>
      <div class="buttons-container">
        <button type="button" class="secondary"><a href="./sign-up">Crear cuenta</a></button>
        <button type="submit" class="primary">Iniciar sesión</button>
      </div>
    </form>
    {% if message %}
      <p>{{ message }}</p>
    {% endif %}
  </body>
</html>
