<!DOCTYPE html>
<html lang="en">
  <head></head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joyería Fina</title>
    <link rel="stylesheet" href="../static/css/crud.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  </head>
  <body>
    <!-- Nav -->
    {% include "navbar.html" %}

    <h1>Camiones</h1>
    {% if data %}
      <table>
        <tr class="ruta_head">
          <th class="header">ID</th> <!-- truck[0] -->
          <th class="header">Nombre</th> <!-- truck[1] -->
          <th class="header">Distancia total</th> <!-- truck[2] -->
          <th class="header">CO<sub>2</sub> total</th> <!-- truck[3] -->
          <th class="header">Distancia promedio</th> <!-- truck[4] -->
          <th class="header">CO<sub>2</sub> promedio</th> <!-- truck[5] -->
          <th class="header">Latitud</th> <!-- truck[6] -->
          <th class="header">Longitud</th> <!-- truck[7] -->
          <th class="header"></th>
          <th class="header"></th>
        </tr>
        {% for truck in trucks %}
          <tr class="ruta">
            <th class="dato">#{{ truck["id"] }}</th>
            <th class="dato">{{ truck["name"] }}</th>
            <th class="dato">{{ truck["total_distance"] }} km</th>
            <th class="dato">{{ truck["total_CO2"] }} g</th>
            <th class="dato">{{ truck["average_trip_distance"] }} km</th>
            <th class="dato">{{ truck["average_CO2"] }} g</th>
            {% if truck["latitude"] and truck["longitude"] %}
              <th class="dato">{{ truck["latitude"] }}</th>
              <th class="dato">{{ truck["longitude"] }}</th>
            {% else %}
              <th class="dato">N/A</th>
              <th class="dato">N/A</th>
            {% endif %}
            <th class="dato"><a class="boton editar" href="/admin/truck-edit/{{ truck['id'] }}">Editar</a><a class="boton eliminar" href="/admin/truck-delete/{{ truck['id'] }}">Eliminar</a></th>
            <th class="dato"><a class="boton xml" href="/admin/trucks/xml/{{ truck['id'] }}">XML</a><a class="boton json" href="/admin/trucks/json/{{ truck['id'] }}">JSON</a></th>
          </tr>
        {% endfor %}
      </table>
      <a class="boton agregar" href="/admin/truck-add-form">Agregar</a>
    {% else %}
      <h2>Ocurrió un error. Si al recargar la página sigue este mensaje, no hay camiones existentes</h2>
    {% endif %}

    <!-- Notifications -->
    {% if message %}
      <div class="notifications">
        <h2>{{ message }}</h2>
      </div>
    {% endif %}

    <!-- Environmental Data -->
    <h3>🌳 Estadísticas Ambientales de la Empresa 🌳</h3>
    {% if environment %}
      <table>
        <tr>
          <th>Camión con más gases emitidos</th>
          <td>{{ environment["highest"] or "" }}</td>
        </tr>
        <tr>
          <th>CO<sub>2</sub> total</th>
          <td>{{ environment["total"] or 0 }} g</td>
        </tr>
        <tr>
          <th>CO<sub>2</sub> promedio</th>
          <td>{{ environment["average"] or 0 }} g</td>
        </tr>
      </table>
    {% else %}
      <p style="text-align: center;">No hay datos al momento</p>
    {% endif %}
  </body>
</html>
