<p-table
  #dt
  [value]="routes"
  [rows]="5"
  [paginator]="true"
  [globalFilterFields]="filterFields"
  [rowHover]="true"
  dataKey="id"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
  [showCurrentPageReport]="true"
>
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      <h5 class="m-0">Administrar {{ items }}</h5>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="applyFilterGlobal($event, 'contains')"
          placeholder="Filtrar..."
        />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let header of headers" pSortableColumn="{{ header.field }}">
        {{ header.title }} <p-sortIcon [field]="header.field"></p-sortIcon>
      </th>
      <th></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <ng-container *ngFor="let header of headers">
        <td *ngIf="header.field !== 'active'; else tagColumn">{{ item[header.field] + ' ' + header.units }}</td>
        <ng-template #tagColumn>
          <td>
            <p-tag pTag [value]="item.active ? 'Activa' : 'Inactiva'" [severity]="item.active ? 'success' : 'danger'"></p-tag>
          </td>
        </ng-template>
      </ng-container>
      <td>
        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning mr-2" (click)="onEditClick(item)"></button>
        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="onDeleteClick(item)"></button>
      </td>
      <td>
        <button pButton pRipple label="JSON" class="p-button p-button-success mr-2" (click)="onJsonClick(item)"></button>
        <button pButton pRipple label="XML" class="p-button p-button-info" (click)="onXmlClick(item)"></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="20">No hay {{ items }}.</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      En total hay {{ routes ? routes.length : 0 }} {{ items }}.
    </div>
  </ng-template>
</p-table>
