<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Joyería Fina</title>
    <link rel="stylesheet" href="./static/css/index.css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <a href="http://localhost:4200/signin" target="_blank">👤 Iniciar Sesión</a>
      </header>
      <hr>
      <h1>✧ ✦&nbsp;<i>Joyería Fina</i>&nbsp;✦ ✧</h1>
      <p>
        ¡Bienvenido a nuestra joyería! Ofrecemos envíos internacionales a
        precios inigualables.
      </p>

      <!-- Notification -->
      {% if msg|length > 0 %}
      <div id="notification" class="text-center">
        <h4>{{ msg }}</h4>
      </div>
      {% endif %}

      <hr>

      <!-- New Purchase -->
      <div class="form-div">
        <h2 class="text-center">Realizar una orden 🛒</h2>
        <p>
          ¿Quiere realizar un pedido? Llene los siguientes campos
          para colocar una nueva orden a su nombre:
        </p>
        <form action="/new-purchase" method="POST">
          <div class="flex">
            <!-- Client -->
            <div>
              <h3 class="text-center">Cliente</h3>
              <label for="first_name" class="required">Nombre</label><br />
              <input type="text" name="first_name" required placeholder="John" />
              <br /><br />

              <label for="last_name" class="required">Apellido</label><br />
              <input type="text" name="last_name" required placeholder="Doe" />
              <br /><br />

              <label for="email" class="required">Email</label><br />
              <input type="email" name="email" required placeholder="correo@ejemplo.com" />
              <br /><br />

              <label for="receiver" class="required">Destinatario</label><br />
              <input type="text" name="receiver" required placeholder="María Rodríguez" />
              <br /><br />
            </div>
            <!-- Shipping -->
            <div>
              <h3 class="text-center">Envío</h3>
              <label for="shipping_street" class="required">Calle</label><br />
              <input type="text" name="shipping_street" required placeholder="Lomas #129" />
              <br /><br />

              <label for="shipping_city" class="required">Ciudad</label><br />
              <input type="text" name="shipping_city" required placeholder="Monterrey" />
              <br /><br />

              <label for="shipping_country" class="required">País</label><br />
              <input type="text" name="shipping_country" required placeholder="México" />
              <br /><br />

              <label for="shipping_postal_code" class="required">CP</label><br />
              <input type="text" name="shipping_postal_code" required placeholder="66050" />
              <br /><br />
            </div>
            <!-- Billing -->
            <div>
              <h3 class="text-center">Factura</h3>
              <label for="billing_street" class="required">Calle</label><br />
              <input type="text" name="billing_street" required placeholder="Alamos #521" />
              <br /><br />

              <label for="billing_city" class="required">Ciudad</label><br />
              <input type="text" name="billing_city" required placeholder="Madrid" />
              <br /><br />

              <label for="billing_country" class="required">País</label><br />
              <input type="text" name="billing_country" required placeholder="España" />
              <br /><br />

              <label for="billing_postal_code" class="required">CP</label><br />
              <input type="text" name="billing_postal_code" required placeholder="68047" />
              <br /><br />
            </div>
          </div>

          <!-- Comments -->
          <label for="comments">Comentarios:</label><br />
          <textarea name="comments" cols="90" rows="5" placeholder="Tocar al timbre tres veces para entregar..."></textarea>

          <!-- Products -->
          <div class="flex" id="products">
            <div class="product-item">
              <label for="product[]" class="required">Producto</label><br />
              <select name="product[]" required>
                {% for product in products %}
                  <option value="{{ product[0] }}">{{ product[1] ~ " ($" ~ product[2] ~ ")" }}</option>
                {% endfor %}
              </select>
              <br /><br />

              <label for="quantity[]" class="required">Cantidad</label><br />
              <input type="number" name="quantity[]" min="1" required placeholder="10" />
              <br /><br />
            </div>
          </div>
          <!-- Buttons -->
          <div class="buttons">
            <button type="button" id="removeProduct" disabled>Quitar</button>
            <button type="button" id="addProduct">Agregar</button>
          </div>
          <button type="submit">Ordenar</button>
        </form>
      </div>

      <hr>

      <!-- View Purchase -->
      <div class="form-div">
        <h2 class="text-center">Facturas 🗂️</h2>
        <p>
          ¿Ya realizó una orden? Consulte sus detalles al ingresar el
          número de orden en el siguiente campo:
        </p>
        <form action="/services" method="GET">
          <label for="purchase_id" class="required">ID</label>
          <input name="purchase_id" type="number" min="1" required placeholder="Escriba aquí..." />
          <br /><br />
          <button type="submit">Consultar</button>
        </form>
      </div>
    </div>
    <script src="./static/js/index.js"></script>
  </body>
</html>
