<app-navbar></app-navbar>
<p-toast></p-toast>

<div class="container">
  <h2 class="mb-3">Gráficos y Estadísticas</h2>
  <!-- Charts -->
  <div class="grid">
    <div class="col-12 lg:col-6">
      <div class="card">
        <p-chart type="doughnut" [data]="doughnutData" [options]="{maintainAspectRatio: false}" height="300px"></p-chart>
      </div>
    </div>
    <div class="col-12 lg:col-6">
      <div class="card">
        <p-chart type="line" [data]="linesData" [options]="{maintainAspectRatio: false}" height="300px"></p-chart>
      </div>
    </div>
    <div class="col-12">
      <div class="card">
        <p-chart type="bar" [data]="barsData" [options]="{maintainAspectRatio: false}" height="300px"></p-chart>
      </div>
    </div>
  </div>
</div>
