body {
    font-family: Monospace, sans-serif;
    margin: 2rem 4rem;
}

button {
    background-color: goldenrod;
    color: black;
    border-radius: 0.5rem;
    border: 0;
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 50%;
}

button:active {
    filter: brightness(0.95);
}

input, textarea, select {
    background-color: black;
    color: white;
    border: 0;
}

.form-div {
    border: 1px solid black;
    padding: 1rem 2rem;
    margin: 2rem 0;
}

.input-container {
    gap: 4rem;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
}

.flex {
    display: flex;
}

.text-center {
    text-align: center;
}

#notification {
    border-radius: 0.5rem;
    border: 1px solid darkgoldenrod;
    background-color: goldenrod;
    color: black;
    width: 30%;
    margin: auto;
}