body {
    font-family: Arial, sans-serif;
    background-color: #cee9ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

h1 {
    color: #333;
}

form {
    text-align: left;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-column {
    float: left;
    width: 33.33%;
    padding: 10px;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
}

button a {
    color: #fff;
    text-decoration: none;
}

button a:hover {
    text-decoration: underline;
}

.buttons-container {
    text-align: right;
    padding: 10px;
}

.secondary {
    background-color: #1c7690;
}

.primary {
    background-color: #022539;
}

.flex {
    display: flex;
    gap: 2rem;
}
