body {
    background-color: #cee9ff;
    margin: 0;
}

main {
    max-width: 50rem;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    text-align: center;
    font-style: italic;
}

/* Purchases Table */

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    margin-bottom: 4rem;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

th {
    background-color: #1c7690;
    color: white;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:hover {
    background-color: #e0e0e0;
}
