<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joyería Fina</title>
    <link rel="stylesheet" href="./static/style.css">
  </head>
  <body>
    <h1><i>Joyería Fina</i></h1>
    <p>¡Bienvenido a nuestra joyería! Ofrecemos envíos internacionales a precios inigualables.</p>
    <!-- Notification -->
    {% if msg|length > 0 %}
    <div id="notification" class="text-center">
      <h4>{{ msg }}</h4>
    </div>
    {% endif %}
    <!-- New Purchase -->
    <div class="container">
      <div class="form-div text-center">
        <h2>¡Ordena aquí!</h2>
        <form action="/new-purchase" method="POST">
          <div class="input-container flex">
            <div>
              <!-- Client -->
              <h3>Cliente</h3>
              <label for="first_name">Nombre:</label><br>
              <input type="text" name="first_name" required>
              <br><br>

              <label for="last_name">Apellido:</label><br>
              <input type="text" name="last_name" required>
              <br><br>

              <label for="email">Email:</label><br>
              <input type="email" name="email" required>
              <br><br>

              <label for="receiver">Destinatario:</label><br>
              <input type="text" name="receiver" required>
              <br><br>
            </div>
            <!-- Shipping -->
            <div>
              <h3>Dir. de Envío</h3>
              <label for="shipping_street">Calle:</label><br>
              <input type="text" name="shipping_street" required>
              <br><br>
      
              <label for="shipping_city">Ciudad:</label><br>
              <input type="text" name="shipping_city" required>
              <br><br>
      
              <label for="shipping_country">País:</label><br>
              <input type="text" name="shipping_country" required>
              <br><br>
      
              <label for="shipping_postal_code">CP:</label><br>
              <input type="text" name="shipping_postal_code" required>
              <br><br>
            </div>
            <!-- Billing -->
            <div>
              <h3>Dir. de Facturación</h3>
              <label for="billing_street">Calle:</label><br>
              <input type="text" name="billing_street" required>
              <br><br>
      
              <label for="billing_city">Ciudad:</label><br>
              <input type="text" name="billing_city" required>
              <br><br>
      
              <label for="billing_country">País:</label><br>
              <input type="text" name="billing_country" required>
              <br><br>
      
              <label for="billing_postal_code">CP:</label><br>
              <input type="text" name="billing_postal_code" required>
              <br><br>
            </div>
          </div>
          <!-- Comments -->
          <label for="comments">Comentarios:</label><br>
          <textarea name="comments" cols="90" rows="5"></textarea>
          <!-- Products -->
          <div class="text-center">
            <h3>Productos</h3>
            <!-- <label for="product_count">Cantidad de Productos:</label>
            <input type="number" name="product_count" min="1" max="5" value="1" required><br><br> -->
          </div>
          <div class="input-container flex">
            <div>
              <label for="product_1">Producto 1:</label><br>
              <select name="product_1" required>
                  <option value="872-AA">Diamond ring 22ct</option>
                  <option value="926-FH">Golden ring 8ct</option>
              </select>
              <br><br>

              <label for="quantity_1">Cantidad:</label><br>
              <input type="number" name="quantity_1" min="1" required>
              <br><br>
            </div>
          </div>
          <button type="submit">Ordenar</button>
        </form>
      </div>
      <!-- View Purchase -->
      <div class="form-div text-center">
        <h2>Consulta una orden</h2>
        <form action="/services" method="GET">
          <label for="purchase_id">Buscar una orden por su ID: </label>
          <input name="purchase_id" type="number" />
          <br><br>
          <button type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </body>
</html>