<app-navbar></app-navbar>
<div class="container">
  <!-- Notifications -->
  <p-messages [(value)]="messages" [enableService]="false"></p-messages>
  <div class="grid">
    <div class="col-12">
      <!-- CRUD Table -->
      <h2 class="mb-3">Tabla de Camiones</h2>
      <app-crud-table
        [filterFields]="['id', 'name', 'totalDistance', 'totalCO2', 'averageTripDistance', 'averageCO2', 'latitude', 'longitude']"
        [items]="'camiones'"
        [data]="responseData.trucks"
        [headers]="tableHeaders"
        (addClicked)="onAddClick()"
        (editClicked)="onEditClick($event)"
        (deleteClicked)="onDeleteClick($event)"
        (jsonClicked)="onJsonClick($event)"
        (xmlClicked)="onXmlClick($event)"
        [loading]="loading"
      ></app-crud-table>
    </div>
  </div>
</div>
