body {
    font-family: Arial, sans-serif;
    background-color: #fff6fc;
    text-align: center;
    margin: 0;
}

h1 {
    padding: 20px;
}

table {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    background-color: #fff;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.ruta_head {
    background-color: #71b0a2;
    color: white;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.ruta:nth-child(even) {
    background-color: #f2f2f2;
}

.ruta:nth-child(odd) {
    background-color: #ffffff;
}

.boton {
    display: inline-block;
    margin: 5px;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.boton.editar {
    background-color: #b4bb4c;
}

.boton.eliminar {
    background-color: #c2433d;
}

.boton.xml {
    background-color: #6820a6;
}   

.boton.json {
    background-color: #456efc;
}

.boton.agregar {
    background-color: #7687b3;
}

.boton:hover {
    opacity: 0.8;
}

.notifications {
    color: #e28743;
}
