body {
    font-family: Arial, sans-serif;
    background-color: #fff6fc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
  
h1 {
    color: #333;
}
  
form {
    text-align: left;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
  
label {
    display: block;
    margin-bottom: 5px;
}
  
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
  
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
}
  
button a {
    color: #fff;
    text-decoration: none;
}
  
button a:hover {
    text-decoration: underline;
}
  
.buttons-container {
    display: flex;
    justify-content: space-between;
}
  
.secondary {
    background-color: #6eb0a2;
}
  
.primary {
    background-color: #718ab4;
}

#return {
    margin-top: 2rem;
}

#return button {
    background-color: #fff;
    padding: 15px 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#return a {
    color: #333 !important;
}
